@{
    ViewBag.Title = "About Confections";
}
<h2>@ViewBag.Title</h2>


<p>As a cake art enthusiast, Sherry enjoys creating cakes for any special occassion. To bring a design and transform it into an edible form of art and be able to make an occassion more special, is something that is very rewarding. Thank you for visiting Confections!</p>
