@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>


<figure class="google_map">
    <div class="figure_inner">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2439.119854958211!2d1.3489828999999998!3d52.313827599999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d9928a57d240a9%3A0xcb6e2dd43c27859f!2sCake+St%2C+Laxfield%2C+Woodbridge%2C+Suffolk+IP13+8EW%2C+UK!5e0!3m2!1sen!2sus!4v1430332764044" width="400" height="300" frameborder="0" style="border:0"></iframe>
    </div>
</figure>

<address>
    Cake Street<br />
    Woodbridge, Suffolk IP13<br />
    8EW, UK
    <abbr title="Phone">P:</abbr>
    123.456.7890
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:info.confections@gmail.com">info.confections@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:info.confections@gmail.com">info.confections@gmail.com</a>
</address>